* {
    margin: 0;

}
a {
    text-decoration:none !important;
}
.middle {
    display: flex;
    justify-content: center;
}

.comment {
    display: block;
    width: 600px;
    margin: auto;
    height: 400px;
}

.com_input {
    border: 2px solid rgb(75, 138, 192);
    border-radius: 15px;
    height: 30px;
    width: 500px;
}

.add5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.add1 {
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
}



.button_out {
    display: flex;
    justify-content: center;
}



#contact-area {
    padding: 110px 0 120px;
}

.contact-box {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 15px;
    background-color: #fff;
    border-radius: 6px;
}

.contact-box input {
    height: 50px;
    border: 1px solid #f7f6f5;
    font-size: 15px;
    background-color: #f7f6f5;
    font-weight: 500
}

.contact-box textarea {
    border: 1px solid #f7f6f5;
    padding-top: 10px;
    background-color: #f7f6f5;
    font-size: 15px;
    font-weight: 500
}

.contact-box button {
    background-color: #325eff;
    border: 0;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: 500;
    font-size: 15px
}

.contact-box button:hover {
    background-color: #0f39cf;
}

.sousuo {
    width: 500px;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.add6 {
    width: 50%;
    padding-bottom: 600px !important;
    min-width: 600px;
    max-width: 700px;
    left: 0;
    right: 0;
    margin: auto;
}

.add7 {
    font-size: 30px;
    line-height: 3;
}
.add8 {
    display: inline;
}

.add9 {
    font-size: 100px;
}

.head {
    margin-left: 3%;
}
.head_bak {
    background-color: rgb(10, 133, 102)!important;
    background-size: 100% 100%;
    height: 300px;
}

.font_color {
    color: #e4dfdc !important;
    margin-bottom: 70px;
}

.footer {
    margin-top: 40px;
    width: 100%;
    height: 200px;
}


div#backToTop {
    position: fixed;
    display: none;
    bottom: 100px;
    right: 20px;
}



@font-face {
    font-family: ‘Glyphicons Halflings‘;
    src: url(‘../fonts/glyphicons-halflings-regular.eot‘);
    src: url(‘../fonts/glyphicons-halflings-regular.eot?#iefix‘) format(‘embedded-opentype‘), url(‘../fonts/glyphicons-halflings-regular.woff‘) format(‘woff‘), url(‘../fonts/glyphicons-halflings-regular.ttf‘) format(‘truetype‘), url(‘../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular‘) format(‘svg‘);
    }


.comment_title {
    font-family: ‘Glyphicons Halflings‘;
    margin-top: 40px; margin-bottom:30px; 
    font-size: 22px; width: 70px; 
    text-align: center; left: 0;
     right:0; 
     margin:auto;
}

.comment_title_add {
    width: 100px;
}
.col-md-4 {
    width: 70% !important;
}
/* .add10 {
    width: 300px !important;
}
.add11 {
    width: 100px !important;
} */

.add12 {
    display: flex;
    justify-content: center;
}
.add3 {
    
    color:#e4dfdc !important;
}
.add13 {
    margin-top: 10px;
}
.out {
    border: 2px solid #337AB7;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
 
}

#contact-area {
    padding: 110px 0 120px;
}

.contact-box {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 15px;
    background-color: #fff;
    border-radius: 6px;
}

.contact-box input {
    height: 50px;
    border: 1px solid #f7f6f5;
    font-size: 15px;
    background-color: #f7f6f5;
    font-weight: 500
}

.contact-box textarea {
    border: 1px solid #f7f6f5;
    padding-top: 10px;
    background-color: #f7f6f5;
    font-size: 15px;
    font-weight: 500
}

.contact-box button {
    background-color: #325eff;
    border: 0;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-weight: 500;
    font-size: 15px
}

.contact-box button:hover {
    background-color: #0fa2cf;
}

.add {
    margin: 10px auto ;
    width: 90%;
}
.add2 {
    margin: 15px auto;
    font-size: 18px;
}
.button_out {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
}

.footer {
    height: 200px;
    background-color: #3C3C3C;

}

.footer_box {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    margin-top: 15px;
    color: #AAAAAA;
}

.footer-box1 {
    justify-content: center;
    margin: 30px 60px;
}

a {
    text-decoration: none;
    color: #AAAAAA;
    font-size: 15px;
}

.h {
    color: #DDDDDD;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.font_color {
    left: 0;
    right: 0;
    margin: auto;
}